body {
  background: rgb(254, 190, 222);
  /* background: #feaeb0; */
  background: linear-gradient(
    0deg,
    rgba(254, 190, 222, 1) 20%,
    rgba(255, 255, 255, 1) 80%
  );
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
  font: "sans-serif";
}

.moving-background {
  position: absolute;
  width: 300%;
  max-width: 300%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.5s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}
