body {
  background: rgb(254, 190, 222);
  background: linear-gradient(
    0deg,
    rgba(254, 190, 222, 1) 37%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
  font: "sans-serif";
}

.moving-background {
  position: absolute;
  width: 300%;
  max-width: 300%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
